header {
  background-image: url('../images/animate.gif');
  background-position: center ;
  background-size: cover;
  background-clip: content-box;
  -webkit-mask-image: linear-gradient(to top, transparent 20%, black 90%);
  height: 300px;
}

.develop-by-header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:16px;
  background: #0047e144;
  animation: textFadeInOut 2.5s infinite;
}

@keyframes textFadeInOut {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}
